@use '../base/' as *;

@mixin item-info {
  width: fit-content;
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  & .top-row {
    width: fit-content;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1px;
    mix-blend-mode: normal;
    opacity: 0.75;
    & .item-category {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-inline: 19px;
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        top: 5px;
        background-color: white;
        opacity: 0.75;
      }
      &::before {
        left: -10px;
      }
      &::after {
        right: -11px;
      }
      & .category-icon {
        width: 0.75rem;
        height: 0.75rem;
        margin-right: 7px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  & .bottom-row {
    height: 1.25rem;
    display: flex;
    align-items: flex-end;
  }
  @include break(tablet) {
    height: 52px;
    & .top-row {
      height: 1.25rem;
      & .item-category {
        & .category-icon {
          width: 1rem;
          height: 1rem;
        }
      }
    }
    & .bottom-row {
      height: 1.875rem;
    }
  }
}

@mixin bookmark($right) {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 8px;
  right: $right;
  background-color: rgb(90, 105, 143, 0.7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  & .bookmark-icon {
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    background-color: $white;
    color: $rich-black-fogra-29;
  }
  @include break(tablet) {
    top: 1rem;
  }
}

@mixin play {
  position: absolute;
  width: 66px;
  height: 27px;
  top: calc(50% - 13.5px);
  left: calc(50% - 33px);
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25)
  );
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  & .play-circle {
    color: $white;
    font-size: 20px;
    padding-left: 3px;
    margin-top: 4px;
    margin-right: 7px;
  }
  & .play-text {
    color: $white;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 14px;
  }
  @include break(tablet) {
    width: 117px;
    height: 48px;
    top: calc(50% - 24px);
    left: calc(50% - 58px);
    & .play-circle {
      font-size: 2rem;
      padding-left: 9px;
      margin-right: 19px;
    }
    & .play-text {
      font-size: 1.125rem;
      opacity: 1;
    }
  }
}

@mixin break($point) {
  @if $point==mobile {
    @media screen and (min-width: 320px) {
      @content;
    }
  } @else if $point==tablet {
    @media screen and (min-width: 740px) {
      @content;
    }
  } @else if $point==laptop {
    @media screen and(min-width: 980px) {
      @content;
    }
  } @else if $point==desktop {
    @media screen and(min-width: 1300px) {
      @content;
    }
  }
}
